/* ------------------Google-Fonts------------------ */
@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap");
/* ------------------Google-Fonts------------------ */

/* ------------------Adding-Scrolling-Animation------------------ */

html {
  scroll-behavior: smooth;
}

/* ------------------Adding-Scrolling-Animation------------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mohave", sans-serif;
}
/* -----------------------Navbar-Styling--------------------- */

.navbar {
  background: #000;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  background-color: aqua;
  background-image: linear-gradient(to top, #f51d16 0%, #f57070 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item {
  height: 48px;
  font-size: 1.15rem;
}

.navbar-links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.width {
  width: 80px;
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button span {
  font-size: 2rem;
  line-height: 1rem;
  margin-left: 0.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 18px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 2rem;
  background: #f77062;
  color: #fff;
}

.button:hover {
  background: #fffc4d;
  transition: all 0.3s ease;
  color: #000;
}

.navbar-links:hover {
  color: #fec260;
  transition: all 0.3s ease;
}

/* -----------------------Navbar-Styling--------------------- */

/* -----------------------Making-Navbar-Responsive--------------------- */

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 48px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navbar-menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar-logo {
    padding-left: 25px;
  }
  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 3px auto;
    transition: all 0.3s ease;
    background: #fff;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    padding: 0.25rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-btn {
    padding: 0.25rem 0;
  }

  .button {
    text-align: center;
    padding-left: 2rem;
    font-size: 1rem;
    width: 80%;
    margin: 0;
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* -----------------------Making-Navbar-Responsive--------------------- */

/* -----------------------Home-Section-Styling--------------------- */
.main {
  background-color: #131312;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 100vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main-content h1 {
  font-size: 4rem;
  background-image: linear-gradient(to top, #ef32d9 0%, #89fffd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main-content h2 {
  font-size: 2rem;
  background-image: linear-gradient(to top, #ff5f6d 0%, #ffc371 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #fff;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #ff7e5f 0%, #feb47b 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main-btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f8472f;
  transition: all 0.35s;
  border-radius: 4px;
}

.main-btn:hover {
  color: #000;
}

.main-btn:hover:after {
  width: 100%;
}

.main-img-container {
  text-align: center;
}

#main-img {
  height: 70%;
  width: 90%;
  margin-left: 50px;
  margin-bottom: 65px;
}

/* -----------------------Home-Section-Styling--------------------- */

/* -----------------------Making-Home-Section-Responsive--------------------- */

@media (min-width: 320px) and (max-width: 470px) {
  .main {
    padding-top: 60px !important;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 210px;
  }
  .main-container {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }

  .main-content {
    text-align: center;
    margin-bottom: 4rem;
  }
  .main-content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .main-content h2 {
    font-size: 3rem;
  }

  .main-content p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  #main-img {
    height: 100%;
    width: 95%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .main-content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main-content h2 {
    font-size: 2rem;
  }

  .main-content p {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .main-btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* -----------------------Making-Home-Section-Responsive--------------------- */

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #242422;
  color: rgb(255, 255, 255);
}

footer h1 {
  font-size: 1.5rem;
}

footer p {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  footer h1 {
    font-size: 1.2rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}
